@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@300&display=swap');

* {
  font-family: 'Nata Sans';
  font-size: 40px;
}

.ipvl1 {
  width: 80px;
  font-size: 40px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
}

.box1 {
  border: 2px solid black;
  padding: 15px;
  width: fit-content;
  border-radius: 20px;
}

.box2 {
  border: 2px solid black;
  width: fit-content;
  padding: 20px;
  border-radius: 30px;
  margin-top: 1%;
  text-align: left;
}

.asw1 {
  margin: 5px 0px;
}

.asw2 {
  margin: 15px 0px;
}

.asw3 {
  margin: 5px 0px;
}

.all {
padding-top: 30px;
}